footer {
	ul {
		@extend list-type-ulli;
	}
	.footer-top {
	    background: #373232;
	    padding: 30px 0;
	    color: #d0c5c5;
		.footer-column {
		    line-height: 2;
			.title {
			    color: #fff;
			    font-size: 15px;
			    font-weight: bold;
			    line-height: 1.4;
			    margin-bottom: 10px;
			}
			ul {
				li {
					a {
					    color: #d0c5c5;
					}
				}
			}
		}
	}
	.footer-bottom {
	    background: #1f1b1b;
	    padding: 15px 0;
	    color: $grey-regular;
	    display: inline-block;
	    width: 100%;
	    margin-bottom: -4px;
	    .footer-copyright {
	    	float: left;
	    }
	    .footer-policy {
	    	float: right;
	    }
	    ul {
	    	float: right;
		    li {
		    	float: left;
		    	a {
				    font-size: 14px;
				    color: $grey-regular;
			        margin-left: 30px;
				}
			}
		}
	}
}


.popup-mobile-content {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 99;
    display: none;
	a {
	    width: 50%;
	    text-align: center;
	    float: left;
	    height: 46px;
	    background: red;
	    line-height: 46px;
	    text-transform: uppercase;
	    color: #fff;
	    font-weight: 800;
	    &:first-child {
	    	@include background-gradient-three( to right, #ff0000, #ffa500 );
	    }
	    &:last-child {
	    	@include background-gradient-three( to right, #2f8e00, #56c71f );
	    }
	}
}


