.language {
    display: inline-block;
    width: 100%;
    margin-bottom: -10px;
    padding: 10px 20px;
	#lang_sel {
		height: auto;
		font-family: inherit;
		display: block;
		ul {
			float: right;
			li {
				// width: 122px;
				z-index: 100;
				a {
					img {
						top: 0px;
					}
				}
				ul {
					border: none;
				}
			}
		}
	}
}

.header-top-content {
    @extend display-flex;
    @include justify-content( space-between );
    @include align-items( center );
    padding: 30px 20px;
	.logo {
	    @extend display-flex;
	    @include align-items( center );
		a {
		    display: inline-block;
		    float: left;
		    margin-right: 10px;
		}
		.name-company {
		    font-size: 18px;
		    text-transform: uppercase;
		    max-width: 230px;
		}
	}

	.header-right {
		.header-address, .header-calendar, .header-account {
		    float: left;
		    display: inline-block;
		    margin-left: 30px;
	        text-align: center;
	        color: $grey-bold;
		    .fa {
			    font-size: 24px;
			    color: $grey-light;
		        margin-bottom: 10px;
			}
			span {
			    display: block;
			}
		}
		.header-address {
			margin-left: 0;
		}
		.header-account {
		    position: relative;
		    width: 48px;
		    height: 48px;
		    background: url("../images/icon/dang-nhap.png") no-repeat scroll left top;
			.header-account-login {
				display: none;
			    position: absolute;
			    top: 100%;
			    z-index: 12;
			    right: 0;
		        padding: 10px 0 0;
			    white-space: nowrap;
				.header-account-login-content {
					position: relative;
					background: #fff;
					padding: 5px;
					@extend box-shadow-four;
					a {
					    color: $grey-bold;
					    font-size: 16px;
					}
					&:after {
					    position: absolute;
					    content: "";
					    bottom: 100%;
					    right: 15px;
					    border-left:  10px solid transparent;
					    border-right: 10px solid transparent;
					    border-bottom: 10px solid #fff;
					}
					&:before {
					    position: absolute;
					    content: "";
					    bottom: 100%;
					    right: 14px;
					    border-left: 11px solid transparent;
					    border-right: 11px solid transparent;
					    border-bottom: 11px solid $grey-light;
					}
				}
			}
			&:hover {
				.header-account-login {
					display: block;
				}
			}
		}
	    .header-user-account {
		    display: inline-block;
		    float: left;
		    padding-top: 10px;
		    text-align: right;
		    margin-left: 30px;
	    	a {
			    display: block;
			    color: $grey-bold;
			    line-height: 1.5;
			}
		}
	}
}


.search-box {
	display: inline-block;
    width: 35%;
	form {
	    position: relative;
		input {
			background: $grey-regular;
			padding: 7px 40px 7px 20px;
			border: none;
			font-size: 16px;
		    width: 100%;
			@include input-placeholder( $grey-light );
		}
		.search-icon {
		    position: absolute;
		    right: 0;
		    top: 0;
		    width: 40px;
		    height: 100%;
		    font-size: 16px;
		    background: transparent;
		    border: none;
		    color: $grey-bold;
		    cursor: pointer;
		    @extend display-flex;
		    @include justify-content( center );
		    @include align-items( center );
		    &:focus {
		    	outline: none;
		    }
		}
	}
}


.menu-primary {
	@extend display-flex;
	position: relative;
    background: #383838;
	.main-menu {
	    position: relative;
	    display: inline-block;
	    width: 100%;
	    // margin-bottom: -4px;
        ul {
        	@extend list-type-ulli;
            li {
                a {
				    color: #e8e8e8;
				    display: block;
				    font-size: 16px;
				    padding: 20px;
				    position: relative;
				    text-transform: uppercase;
				    white-space: nowrap;
				    position: relative;
                }
                &:hover {
                	.sub-menu {
					    display: block;
					    @include animation( 0.5s ease 0s normal none 1 running fadeInUp );
					}
                    a {
                    	&:after {
                    		display: block;
                    	}
                    }
                }
            }
			.current_page_item, .current-menu-item{
				a {
					&:after {
						display: block;
					}
				}	
			}
        }
        > div {
	        > ul {
	            > li {
	                float: left;
	                > a {
					    &:after {
						    content: "";
						    position: absolute;
						    bottom: 0;
						    left: 50%;
						    @include transform( translateX(-50%) );
						    border-right: 8px solid transparent;
						    border-left: 8px solid transparent;
						    border-bottom: 11px solid #fff;
						    display: none;
					    	z-index: 9;
						}
	                }
					.sub-menu {
					    position:  absolute;
					    left:  0;
					    top: 100%;
					    width: 100%;
					    background: #fff;
					    padding: 20px 10px;
				        @extend box-shadow-four;
					    z-index: 8;
					    display: none;
					    @include transition( all 400ms ease 0s );
					    li {
						    width: auto;
						    float: left;
						    position: relative;
						    padding-left: 20px;
						    &:nth-child(1), &:nth-child(2), &:nth-child(3) {
							    float:  left;
							    width: 25%;
							    padding: 0 10px;
						    	a {
						    		img {
						    			display: block;
						    			padding: 0;
						    		}
						    	}
						    	span {
					    		    display: block;
    								margin: 10px 0;
						    	}
						    	&:after {
						    		display: none;
						    	}
						    }
						    a {
							    text-transform: none;
							    padding: 0;
							    color: #000;
							    img {
							    	display: none;
							    }
							}
							&:after {
							    content: "";
							    position: absolute;
							    left: 7px;
							    top: 50%;
							    padding: 4px;
							    background: #000;
							    @include transform( translateY(-50%) );
							    @include border-radius( 50% );
							}
						}
					}
	            }
	        }
        }
    }
    .search-box {
    	display: none;
    }
}

//menu mobile
.menu-primary {
	.mean-container {
		.mean-bar {
		    background: none;
		    left: 0;
		    padding: 0;
		    position: absolute;
		    top: 1px;
		    z-index: 9;
		    max-width: 300px;
		    .meanmenu-reveal {
			    background: #383838;
			    border: 1px solid rgba(255, 255, 255, 0.5);
			    right: auto !important;
			    left: 0;
			    top: 0;
			    height: 20px;
			    line-height: 20px;
			    width: 22px;
			    padding: 10px 11px 10px;
			}
			.mean-nav {
			    background: #383838;
			    margin-top: 42px;
			    ul {
			    	li {
			    		a {
						    padding-bottom: 11px;
						    padding-top: 11px;
						}
						.sub-menu {
							li {
								a {
						    		text-transform: none;
								}
							}
						}
						.mean-expand {
						    height: 17px;
						    line-height: 17px;
						    &:hover {
							    background: rgba(255, 255, 255, 0.3) none repeat scroll 0 0;
							}
						}
					}
				}
			}
		}
	}
}

