.breadcrumbs {
    margin: 15px 0 0;
    a, span {
        color: $grey-bold;
        font-size: 12px;
    }
}

.banner-page {
    position: relative;

	.breadcrumbs-position {
		.breadcrumbs {
		    position: absolute;
		    top: 0;
		    left: 0;
		    width: 100%;
		    color: #fff;
		    a, span {
		        color: #fff;
		    }
		}
	}
}