.modal-dialog {
    width: 450px;
    .modal-content {
        text-align: center;
        padding: 0 40px 20px;
        .modal-header {
            display: block;
            width: calc(100% - 130px);
            margin: auto;
            border-bottom: 1px solid $grey-light;
            .close {
                position:  absolute;
                top: -15px;
                right: -10px;
                background:  #000;
                color:  #fff;
                opacity: 1;
                @include border-radius( 50% );
                border: 1px solid #fff;
                margin:  0;
                padding: 1px 6px 4px 7px;
            }
            span {
                font-size: 16px;
                display: block;
                font-weight: 600;
            }
            .modal-title {
                font-size: 24px;
                color: $red-bold;
            }
        }
        .modal-body {
            padding: 20px;
            .modal-login {
                .modal-login-socical {
                    display: inline-block;
                    width: 100%;
                    ul {
                        @extend list-type-ulli;
                    }
                    ul {
                        width: 48%;
                        float: left;
                        background: #3b5998;
                        padding: 10px;
                        @include border-radius( 5px );
                        &:nth-child(2) {
                            background: red;
                            float: right;
                        }
                        li {
                            a {                                
                                font-size: 16px;
                                color: #fff;
                                font-weight: bold;
                                text-transform: uppercase;
                            }
                        }
                    }
                }
                .modal-login-or {
                    width:  50%;
                    margin:  auto;
                    position:  relative;
                    &:after {
                        content:  "";
                        position:  absolute;
                        left: 0;
                        top: 50%;
                        @include transform( translateY(-50%) );
                        height: 1px;
                        width:  100%;
                        background: $grey-light;
                        z-index: 1;
                    }
                    span {
                        background:  #fff;
                        position:  relative;
                        z-index: 2;
                        padding: 10px;
                        display:  inline-block;
                        font-size:  16px;
                    }
                }

                .modal-login-email {
                    display: block;
                    color:  #555;
                    font-size:  16px;
                    border: 2px solid $grey-light;
                    padding: 8px;
                }
            }
        }
    }
}



