.next-steps {
    .item {
        background: $grey-regular;
        padding: 20px;
        text-align: center;
        .info {
            .title a {
                font-size: 20px;
                font-weight: 500;
                color: $grey-bold;
                height: 55px;
                overflow:  hidden;
                display: block;
                padding: 0 40px;
                margin: 20px 0;
            }
            .read-more {
                @extend read-more-gradient;
            }
        }
    }
}


