.page-post-recent-content {
    @extend msc-listing-row;
    .item {
        background: $grey-regular;
        figure {
            img {
                @extend background-cover;
            }
        }
        .info {
            padding: 15px;
            .title h3 {
                font-size:  16px;
                color: $grey-semibold;
                margin-bottom: 10px;
            }
        }
        &:hover {
            @extend box-shadow-two;
        }
    }
}