.page-post-content {
    .item {
        display: inline-block;
        width: 100%;
        background: $grey-regular;
        figure {
            img {
                @extend background-cover;
            }
        }
        .info {
            overflow: hidden;
            padding: 15px;
            .title h3 {
                font-size:  24px;
                color: $grey-semibold;
                margin-bottom: 15px;
            }
        }
        &:hover {
            @extend box-shadow-two;
        }
    }
}

// .page-ielts-content, .page-blog-content, .single-blog-content, .page-course, .page-default-content, .page-category-content {
    .page-post-content {
        .item {
            figure {
                float: left;
                width: 288px;
            }
        }
    }
// }