@media screen and (max-width: 1199px) {
	.container {
		width: 100%;
		max-width: 100%;
	}
}
//end 1200px

@media screen and (max-width: 1024px) {
	//header
	.menu-primary {
	    height: 44px;
	    display: block;
	    .search-box {
		    display: block;
		    width: auto;
		    z-index: 10;
		    position: absolute;
		    right: 4px;
		    top: 4px;
	    }
	    .mean-container .mean-bar .mean-nav ul li .sub-menu li a img {
			padding: 0 0 10px;
			width: 100%;
		}
	}
	.header-top-content {
	    padding: 30px 0;
	    .search-box {
	    	display: none;
	    }
	}
}
//end 1024px

@media screen and (max-width: 992px) {
	.title-section h2 {
		font-size: 20px;
	}
	.read-more-section {
		margin-top: -10px;
		margin-bottom: 20px;
	}
	//header
	.language {
		padding: 10px 0;
	}
	//footer
	.footer .footer-bottom > div > div {
		display: inline-block;
		text-align: center;
		float: none;
		width: 100%;
	}
	footer {
		.footer-bottom {
			ul {
				float: none;
				margin: auto;
				display: inline-block;
				li {
					a {
						padding: 10px 0;
						display: block;
					}
					&:first-child {
						a {
							margin-left: 0;
						}
					}
				}
			}
		}
	}
	//home page
	.home-news-feature {
		.news-feature-content {
			.item {
				figure {
					img {
						padding: 10px 0;
					}
				}
				.info {
					.title h3 {
						font-size: 20px;
					}
					.desc {
						font-size: 16px;
					}
				}
			}
		}
	}
	.course-popular-content figure img {
		padding: 10px 0;
	}
	.home-pupil-testimonial {
		padding: 20px 0;
		.title-section h2 {
			margin: 20px 0;
		}
	}
	.home-my-house {
		padding: 10px 0;
	}
	.home-course-popular {
		padding: 10px 0;
	}
	//single-school
	.single-school-content .page-post figure {
	    width: 50%;
	}
	//page-course
	.page-course-content .page-list-course .page-list-course-content .item figure {
		width: 50%;
	}
	//single-course
	.single-course-info .course-detail-info .item {
		padding: 0 15px;
		img {
			padding: 20px 0;
		}
	}
	.star-tuition-course-content {
		.table-responsive {
			overflow-x: auto;
			.table {
			    width: 992px;
			    cursor: e-resize;
			}
		}
	}
}
//end 992px

@media screen and (max-width: 767px) {
	//page-course
	.page-course-content .search-course form .wrap-group-course .wrap-group {
	    width: 33.33%;
	    &:nth-child(4) select {
	    	border-left: 1px solid #bbb;
	    }
	}
	//popup mobile
	.popup-mobile-content {
		display: block;
	}
	.footer {
		margin-bottom: 50px;
	}
}
//end 767px

@media screen and (max-width: 575px) {
    .page-post-content {
        .item {
            figure {
                width: 100%;
            }
        }
    }
	//header
	.header-top-content {
	    padding: 10px 0;
	    display: block;
		.logo {
		    width: 100%;
		    text-align: center;
		    display: block;
		    a {
		    	float: none;
		    	margin: 0;
		    }
		    .name-company {
		    	max-width: 100%;
		    	margin: 10px 0
		    }
		}
		.header-right {
			text-align: center;
			.header-address, .header-calendar, .header-account, .header-user-account {
				float: none;
			}
		}
	}
	//footer
	footer {
		.footer-bottom {
			ul {
				li {
					float: none;
					a {
						margin: 0;
					}
				}
			}
		}
	}
	//home page
	.home-news-feature {
		margin-top: 15px;
	}
	//page-course
	.page-course-content .page-list-course .page-list-course-content .item figure {
		width: 100%;
	}
	//page-school
	.page-school-content {
		.list-school {
			.tab-content {
				.tab-pane {
					ul {
						li {
						    width: 50%;
						    &:nth-child(3n+1) {
						    	clear: none;
						    }
						    &:nth-child(2n+1) {
						    	clear: left;
						    }
						}
					}
				}
			}
		}
	}
}
//end 575px

@media screen and (max-width: 480px) {
	//home page
	.home-news {
		.home-news-content {
			.news-new-content, .even-highlight-content {
				.item {
					display: block;
				}
			}
		}
	}
	//single-course
	.single-course-info .course-info img {
	    width: 100%;
	}
	//popup mobile
	.popup-mobile-content {
		a {
		    width: 100%;
		}
	}
	.footer {
		margin-bottom: 96px;
	}
}
//end 480px

@media screen and (max-width: 400px) {
	.form-contactus {
	    input {
	        &[type=reset], &[type=submit] {
	            float: none;
	            width: 100%;
	            margin: 10px 0 0;
	        }
	        &[type=reset] {
	        	margin-top: -10px;	
	        }
	    }
	}
	//header
	.menu-primary .mean-container .mean-bar {
	    max-width: 100%;
	}
	.modal-dialog .modal-content {
    	padding: 0;
	}
	.modal-dialog .modal-content .modal-header {
		width: auto;
	}
	//page-school
	.page-school-content {
		.list-school {
			.tab-content {
				.tab-pane {
					ul {
						li {
						    width: 100%;
						}
					}
				}
			}
		}
		form input {
			width: 100%;
		}
	}
	//page-course
	.page-course-content .search-course form .wrap-group-course .wrap-group {
	    width: 100%;
	    select {
	    	border-left: 1px solid #bbb;
	    }
	    input[type="submit"] {
	    	border: 1px solid #bbb;
	    }
	}
	//
	.single-course-info .course-detail-info .item {
	    flex: 0 0 100%;
	    max-width: 100%;
		img {
		    padding: 0;
		}
	}
}
//end 400px

@media screen and (max-width: 320px) {

}
