.sidebar {
	margin-bottom: 30px;
    z-index: 4;
}

.title-widget {
    font-weight: bold;
    font-size: 18px;
    text-transform: uppercase;
    color: $grey-bold;
    margin-bottom: 5px;
}

.sidebar-common .widget {
    background: $grey-regular;
    padding: 10px;
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 30px;
	.next-steps {
	    .item {
	        padding: 0 0 20px;
	        margin: 0;
	        .info {
	            .read-more {
	            	@extend read-more-gradient;
	                margin-top: 20px;
	                // display: block;
	            }
	        }
	    }
	}
}

