
.sidebar-single-event-content {
    background: $grey-regular;
    padding: 30px 20px 0;
    display: inline-block;
    width: 100%;
    margin-top: 20px;
    .title-widget {
        color: $red-bold;
        text-align: center;
        text-transform: none;
        font-weight: 500;
        font-size: 24px;
    }
}
