//sidebar-course
.sidebar-course{
	margin-top: 20px;
	.sidebar-course-content{
		@extend box-shadow-four;
		.course-form-title{
			padding: 10px 10px 15px;
			background: #c0392b;
			color: #fff;
			font-size: 16px;
			position: relative;
			&:after {
			    content: "";
			    position: absolute;
			    left: 0;
			    bottom: 7px;
			    width: 100%;
			    border: 1px dashed #fff;
			    height: 2px;
			}
		}
		form{
			padding: 15px;
		    margin-bottom: 30px;
		    background: #fff;
			.wrap-group{
				label{
					margin-bottom: 0px;
					display: block;
					font-size: 11px;
					color: $grey-bold;
				}
				margin-top: 15px;
				input, select{
					border: none;
					background: #fff !important;
					border-bottom: 1px solid #bbb;
					@include border-radius( 0px );
					font-size: 14px;
					color: $grey-bold;
					width: 100%;
				}
				input{
					padding: 5px 0px;
				}
				input[type="checkbox"]{
					margin-right: 10px;
				}
				select{
					width: 100%;
					background: #fff url('../../assets/images/drop-down.png') no-repeat scroll right center;
					option{
						padding: 0px;
					}
				}
			}
			.checkbox {
				span {
					margin: 15px 0 0
				}
			}
			.submit{
                color:  #fff;
                font-size: 18px;
                padding: 7px 22px;
                display: inline-block;
                text-transform: uppercase;
                font-weight: 500;
                @include border-radius( 40px );
                @include background-gradient-three(to right, #ce1717 , #f0891a);
                border: none;
				margin: 30px auto;
				display: block;
				cursor: pointer;
				white-space: normal;
			}
			br {
				display: none;
			}
		}
	}
}