// .social-sidebar{
//     display: inline-block;
//     width: 100%;
//     padding: 0 0 30px;
// 	ul{
// 		@extend list-type-ulli;
// 		li{
// 			float: left;
// 			a{
// 				border: 2px solid $grey-bold;
// 				@include border-radius( 50% );
// 				margin-right: 15px;
// 				color: $grey-bold;
// 				width: 45px;
// 				height: 45px;
// 				font-size: 22px;
// 				@extend display-flex;
// 			    @include align-items( center );
// 			    @include justify-content( center );
// 			}
// 		}
// 	}
// }