.page-contact-content .page-title h1 {
    color: $grey-bold;
    font-size: 16px;
}

.page-contact-content {
	.page-content {
		line-height: 2;
		span {
		    font-weight: bold;
		}
	}
	.contact-map {
		iframe {
			width: 100%;
			height: 300px;
		}
	}
}