.page-course-content{
	@extend box-bg-full-z-index-am;
	.page-list-course{
		.page-list-course-content{
			display: inline-block;
			width: 100%;
			margin-top: 30px;
			.item{
				background-color: $grey-regular;
				overflow: hidden;
				figure{
					width: 480px;
					float: left;
					position: relative;
					img {
						@extend background-cover;
					}
					.title {
					    position: absolute;
					    left: 0;
					    top: 0;
					    width: 100%;
					    h3 {
						    color: #fff;
						    font-weight: bold;
					        padding: 15px 25px;
    						font-size: 24px;
						    @extend bg-gradient-six-bottom;
						}
					}
				}
				.info{
					overflow: hidden;
					padding: 10px 20px;
					span{
						display: block;
						&:nth-child(odd){
							font-size: 16px;
						}
						&:nth-child(even){
							font-size: 20px;
							font-weight: 700;
							margin-bottom: 10px;
						}
					}
				}
			}
		}
	}
	.search-course{
		form {
			.wrap-group-course {
			    // display: flex;
				.wrap-group{
					width: 16.66%;
					float: left;
				    // width: 100%;
					select {
						border: 1px solid #bbb;
						border-left: none;
						@include border-radius( 0px );
						font-size: 14px;
						color: $grey-bold;
						position: relative;
						width: 100%;
						float: left;
						height: 50px;
						padding: 0 28px 0 15px;
						background: #fff url('../../assets/images/drop-down.png') no-repeat scroll right center;
					}
					input[type="submit"] {
					    border: 1px solid #bbb;
					    border-left: 0;
					    width: 100%;
					    height: 50px;
					    cursor: pointer;
					}
					&:first-child{
						select {
							border-left: 1px solid #bbb;
						}
					}
				}
			}
		}
		.order-course{
			text-align: right;
			margin-bottom: 10px;
			select{
				border: none;
				font-weight: 600;
				background: #fff;
				option{

				}
			}
		}
	}
}

.search-recent-course-content {
	@extend .course-popular-content;
	.item {
		.info {
			.desc {
				line-height: 2;
			}
		}
	}
}

