.page-event-content {
    .page-post {
        .page-post-content {
        	@extend msc-listing-row;
			.item {
				background: $grey-regular;
				figure {
				    float: none;
				    width: auto;
				}
				.info {
					padding: 20px;
					text-align: center;
				    .title h3 {
					    color: $grey-bold;
					    font-size: 24px;
				        line-height: 1.1;
			            margin-bottom: 15px;
		                font-weight: bold;
    					text-transform: uppercase;
    					text-align: left;
					}
					.desc {
					    font-size: 16px;
					    text-align: left;
					}
					.read-more {
						margin: 20px 0;
						@extend read-more-gradient;
					}
				}
			}
		}
	}
}