.page-find-course-content {
    @extend msc-listing-row;
    .item {
        position: relative;
        figure {
            img {
                @extend background-cover;
            }
        }
        .title h3 {
            color:  #fff;
            position:  absolute;
            bottom:  0;
            left:  0;
            text-transform: uppercase;
            width: 100%;
            font-size:  18px;
            font-weight: 600;
            padding: 10px 20px;
            @extend bg-gradient-six;
        }
    }
}

