.home-banner {
	.home-banner-content {
		img {

		}
	}
}

.home-news-feature {
    margin-top: -50px;
	.news-feature-content {
		.item {
		    text-align: center;
		    background:  #fff;
		    padding: 15px;
		    @extend box-shadow-two;
			figure {
				img {
				    background-repeat: no-repeat;
				    background-position: center center;
				    width: 100%;
				}
			}
			.info {
				.title h3 {
				    font-size:  24px;
				    color:  $grey-bold;
				    font-weight: 600;
				    margin: 15px 0;
				}
				.desc {
				    font-size: 18px;
			        min-height: 75px;
				}
			}
		}
	}
}

.home-service-support {
	.service-support-content {
		@extend msc-listing-row;
		.item {
			figure {
				img {
					@extend background-cover;
				}
			}
			.info {
			    padding: 10px;
			    background: $grey-regular;
			    display:  inline-block;
			    width: 100%;
				.desc {
				    font-size: 15px;
				}
				.read-more {
				    color: #754c24;
				    background: #ffca4f;
				    text-transform:  uppercase;
				    padding: 2px 10px;
				    display:  inline-block;
				    font-weight: 600;
				    @include border-radius( 20px );
				    float: right;
				    margin: 10px 0;
				}
			}
			&:hover {
				@extend box-shadow-two;
			}
		}
	}
}

.home-pupil-share {

}
	//tach ra cho vao extend
	.pupil-share-content {
		figure {
			img {
				@extend background-cover;
			}
		}
		.item {
		    position: relative;
			.info {
			    position:  absolute;
			    bottom:  0;
			    left: 0;
			    width: 100%;
			    padding: 15px;
			    @extend bg-gradient-six;
				.title h3 {
				    color:  #fff;
				    font-size:  18px;
				    font-weight: 700;
				    text-transform: uppercase;
				}
				.desc {
				    font-size: 16px;
				    color: #fff;
				}
			}
		}
	}


.home-pupil-testimonial {
    // background: $grey-regular;
    @include background-size( cover );
    background-repeat: no-repeat;
    background-position: top center;
    padding: 20px 0 70px;
    .title-section h2 {
	    margin: 50px 0;
	    display: inline-block;
	    width:  100%;
	    color: #fff;
	    text-align: center;
	}
	.pupil-testimonial-content {
		@extend msc-listing-row;
		figure {
			img {
				@extend background-cover;
			}
		}
		.item {
		    position: relative;
		    overflow: hidden;
		    @include border-radius( 5px );
			.info {
				padding: 10px 15px;
				position: absolute;
				left: 0;
				bottom: 0;
				background: #fff;
				width: 100%;
				text-align: center;
				.title h3 {
				    font-size:  18px;
				    color: $grey-bold;
				    text-transform: uppercase;
				    font-weight: 700;
				}
				.desc {
					margin-top: 5px;
				    display: none;
				}
			}
			&:hover {
				.info {
					.desc {
						display: block;
					}
				}
			}
		}
	}
}

.home-my-house {
    padding: 30px 0;
	.my-house-content {
		@extend .pupil-share-content;
	}
}

.home-news {
    padding: 10px 0 20px;
	background: $grey-regular;
	.home-news-content {
		.news-new-content, .even-highlight-content {
			figure {
				img {
					@extend background-cover;
				}
			}
			.item {
			    background: #fff;
			    @extend display-flex;
		        @include align-items( stretch );
				figure {
				    flex: 0 0 40%;
				}
				.info {
					padding: 10px 20px;
				    .title h3 {
					    color: $grey-semibold;
					    font-size: 24px;
				        line-height: 1.1;
			            margin-bottom: 15px;
					}
				}
				&:hover {
					@extend box-shadow-two;
				}
			}
		}
	}
}

.home-course-popular {
    padding: 50px 0;
	display: inline-block;
	width: 100%;
}
	//tach ra cho vao extend
	.course-popular-content {
		figure {
			img {
			    background-repeat: no-repeat;
			    background-position: center center;
			    width: 100%;
			    @include filter( grayscale(100%) );
			}
		}
		.item {
		    text-align: center;
		    background:  #fff;
		    padding: 20px;
			.info {
				.title h3 {
				    font-size:  18px;
				    color:  $grey-bold;
				    font-weight: 700;
				    margin: 15px 0;
				    text-transform: uppercase;
				}
			}
			&:hover {
				@extend box-shadow-four;
				figure img {
				    @include filter( brightness(100%) );
				}
			}
		}
		.read-more-section {
		    background: #c0392b;
		    display: inline-block;
		    float: right;
		    color: #fff;
		    text-transform: uppercase;
		    font-weight: 800;
		    padding: 10px 20px;
		    margin: 0;
		    @include border-radius( 4px );
		}
	}


.home-best-university {
	padding: 20px 0;
    background: $grey-regular;
}
	//tach ra cho vao extend
    .best-university-content {
    	@extend msc-listing-row;
    	.item {
    		figure {
    			background: #fff;
				img {
				    background-repeat: no-repeat;
				    background-position: center center;
				    width: 100%;
				}
    		}
			&:hover {
				@extend box-shadow-two;
			}
    	}
    	.read-more-section {
		    color: #555;
		}
    }


.home-our-member {
	padding: 0 0 20px;
    background: $grey-regular;
	.our-member-content {
		@extend .best-university-content;
	}
}

