.page-register-content {
	.page-title h1 {
		color: $grey-bold;
	    font-weight: normal;
	    text-transform: uppercase;
	    font-size: 20px;
	    margin: 20px 0 10px;
	}
	.read-more {
		@extend read-more-gradient;
	}
}