.page-school-content {
	.page-title h1 {
	    margin: 10px 0 0;
	}
	.title-article h3 {
	    margin: 15px 0 0;
	}
	span {
		display: block;
	}
	form {
		input {
		    background: $grey-regular;
		    color: $grey-bold;
		    border: 1px solid $grey-light;
		    @include border-radius( 4px );
		    padding: 7px 10px;
		    width: 80%;
		    margin-top: 5px;
		}
	}
	.list-school {
	    display: inline-block;
	    width: 100%;
	    margin-bottom: 20px;
		ul {
			@extend list-type-ulli;
		}
		.nav {
		    border-bottom: none;
		    padding: 0;
			li {
				padding: 10px 30px;
				a {
					border: none;
					font-size: 18px;
					color: $red-bold;
					padding: 0;
					border-bottom: 2px solid transparent;
					&:hover {
					    border-color: $red-bold;
					}
				}
				.active {
				    color: $grey-bold;
				    border-bottom: 2px solid $red-bold;
				}
			}
			> li:first-child {
			    padding-left: 0;
			}
		}
		.tab-content {
			.tab-pane {
				ul {
					li {
						width: 33.3%;
						float: left;
						a {
						    font-size: 16px;
						    color: $grey-bold;
					    	padding: 10px 20px 5px 0;
					    	display: block;
						}
						&:nth-child(3n+1) {
							clear: left;
						}
					}
				}
			}
		}
	}
}


