.single-school-content {
	@extend box-bg-full-z-index-am;
	.page-post {
		.page-desc {
			padding-bottom: 20px;
		}
		figure {
			width: 386px;
			float: left;
		}
	}
	.certificate-school-content .item:nth-child(2) a {
	    padding: 5px 20px;
	    margin-top: 10px;
	    border: 1px solid #bbb;
	    display: inline-block;
	    color: #888888;
	    text-align: center;
	    text-transform: uppercase;
	    font-weight: bold;
	    border-radius: 4px;
	}
	table {
		width: 100%;
	}
}

.certificate-school-content {
	@extend .submit-file-course-content;
	.item {
		&:nth-child(2) {
			span {
				&:nth-child(2) {
				    margin:  0;
				    margin-top: -30px;
				    form input {
					    font-size: 16px;
					    color: $grey-light;
					    text-transform:  uppercase;
					    font-weight: bold;
					    width:  100%;
					    border: 1px solid $grey-light;
					    padding: 5px;
					    @include border-radius( 3px );
					}
				}
			}
		}
	}
}
