.single-course-content {
	@extend box-bg-full-z-index-am;
	.page-post {
		.page-desc {
			padding-bottom: 20px;
		}
		figure {
			width: 386px;
			float: left;
		}
	}
	table {
		width: 100%;
	}
}
	//tach ra cho vao extend
	.single-course-info {	
		.course-info {
			display: inline-block;
			width: 100%;
			img {
				border: 1px solid #bbbbbb;
			}
		}
		.course-detail-info {
			padding: 30px 0 0;
			.item {
			    text-align: center;
    			padding: 0 45px;
			    span{
			    	display: block;
			    	&:nth-child(2){
			    		padding: 10px 0px;
			    	}
			    	&:nth-child(3){
			    		font-size: 20px;
			    		font-weight: 600;
		    		    color: #333;
			    		span {
		    			    display: inline-block;
			    			text-decoration: underline;
			    		}
			    	}
			    }
				img {
				    background-repeat: no-repeat;
				    background-position: center center;
				    width: 100%;
				}
			}
		}
	}
	
	//tach ra cho vao extend
	.submit-file-course {

	}
	.submit-file-course-content {
	    z-index: 2;
		position: relative;
		font-size: 16px;
		line-height: 1.6;
		.item {
			a {
				color: #004a80;
			}
			span {
			    display: block;
			}
			span:first-child {
			    font-size: 14px;
		        margin-bottom: 10px;
			}
		    img {
		    	margin-top: 2px;
		    }
			&:nth-child(2) {
				span:nth-child(2) {
				    font-size: 50px;
				    font-weight: 500;
				    margin-top: -17px;
				    margin-bottom: -10px;
				}
			}
		}
		ul {
		    padding: 0 20px;
		    margin: 0;
		}
		.submit-file {
		    margin:  20px 0;
		    display: inline-block;
		    span {
			    font-weight: bold;
			}
		}
	}
	
	.why-your-course {

	}

	.star-tuition-course {

	}
	.star-tuition-course-content {
	    z-index: 2;
		position: relative;
		overflow: hidden;
		.table-responsive {
			// overflow-x: auto;
			.table {
			    background: #fff;
			    margin: 10px 0 30px;
			    // width: 992px;
			    // cursor: e-resize;
			    td {
			    	vertical-align: middle;
			    }
			    a {
				    background: #009d4e;
				    @include border-radius( 5px );
				    padding: 5px;
				    color: #fff;
				    margin-left: 5px;
				    display: inline-block;
				    cursor: zoom-in;
				}
			}
		}
	}
	
	.ratings-reviews-course {

	}
	.ratings-reviews-course-content {

	}
	



