body {
    //arrow
    .slick-prev {
        left: 20px;
        &::before {
            border-left: 2px solid #fff;
            @include transform( translate(-30%, -50%) rotate(-45deg) );
        }
    }
    .slick-next {
        right: 20px;
        &::before {
            border-right: 2px solid #fff;
            @include transform( translate(-60%, -50%) rotate(45deg) );
        }
    }
    .slick-prev, .slick-next {
        background: transparent;
        height: 40px;
        width: 40px;
        z-index: 2;
        &::before {
            border-top: 2px solid #fff;
            content: "";
            font-size: 0;
            left: 50%;
            opacity: 1;
            padding: 5px;
            position: absolute;
            top: 50%;
        }
        &:hover, &:focus {
            background: transparent;
        }
    }

    #cboxPrevious:focus, #cboxNext:focus {
        outline: none;
    }
    .slick-slide {
        height: auto;
    }
    .slick-slide:focus {
        outline: none;
    }

    //dot
    .slick-slider {
        .slick-dots {
            bottom: 0;
            left: 0;
            li {
                @include border-radius( 50% );
                height: auto;
                padding: 3px;
                width: auto;
                border: 1px solid transparent;
                button {
                    background: #000 none repeat scroll 0 0;
                    @include border-radius( 50% );
                    color: #fff;
                    height: auto;
                    padding: 7px;
                    width: auto;
                    &::before {
                        content: "";
                    }
                }
            }
            .slick-active {
                border: 1px solid #000;
            }
        }
    }

    //arrow banner home
    .slick-prev {
        left: 50px;
        &::before {
            border-left: 2px solid $grey-bold;
        }
    }
    .slick-next {
        right: 50px;
        &::before {
            border-right: 2px solid $grey-bold;
        }
    }
    .slick-prev, .slick-next {
        background: #fff;
        @include border-radius( 50% );
        &::before {
            border-top: 2px solid $grey-bold;
            content: "";
            font-size: 0;
            left: 50%;
            opacity: 1;
            padding: 3px;
            position: absolute;
            top: 50%;
        }
        &:hover, &:focus {
            background: #fff;
        }
    }

    //dot slide home
    .slick-slider {
        .slick-dots {
            bottom: auto;
            top: 100%;
            li {
                padding: 2px;
                background: #fff;
                button {
                    padding: 3px;
                    background: #fff none repeat scroll 0 0;
                }
            }
            .slick-active {
                border: 1px solid transparent;
                button {
                    background: $grey-bold none repeat scroll 0 0;
                }
            }
        }
    }
}