//form extend
.form-single-even {
    margin-bottom: 30px;
    input, select {
        border: 1px solid #bbbbbb;
        @include border-radius( 4px );
        background: #fff !important;
        height: 38px;
        padding: 0 10px;
        font-size: 14px;
        width: 100%;
        color: $grey-bold;
        &[type=checkbox], &[type=radio] {
            height: auto;
            width: auto;
        }
        &[type=submit] {
            background: #c0392b !important;
            font-weight: bold;
            margin-top: 20px;
            text-transform: uppercase;
            border: none;
            width: 100%;
            padding: 10px 30px;
            color: #fff;
            cursor: pointer;
            white-space: normal;
            height: auto;
            &:active:focus {
                background: #c0392b;
                border: none;
            }
        }
        &:focus {
            border: 1px solid #bbbbbb;
        }
    }
    .wrap-group {
        label {
            margin: 10px 0 5px;
            cursor: pointer;
        }
    }
    span {
        margin: 5px 0;
    }
}

//form extend
.form-contactus {
    @extend .form-single-even;
    input {
        &[type=reset], &[type=submit] {
            margin-top: 40px;
            float: right;
            cursor: pointer;
        }
        &[type=reset] {
            color: $grey-bold;
            border: none;
            text-transform: uppercase;
            background: #fff;
            font-weight: bold;
            width: auto;
        }
        &[type=submit] {
            width: auto;
        }
    }
    .wrap-group-submit {
        text-align: right;
        overflow: hidden;
    }
}


form{
    br {
        display: none;
    }
    .wpcf7-not-valid-tip {
        // margin-top: 5px;
    }
    .wpcf7-validation-errors, .wpcf7-mail-sent-ng, .wpcf7-mail-sent-ok {
        border: medium none;
        color: red;
        margin: 10px 0;
        padding: 0;
    }
    .wpcf7-mail-sent-ok {
        color: green;
    }
}




//form single even
.sidebar-single-event-content {
    form {
        @extend .form-single-even;
    }
}
//form contactus
.page-contactus-content {
    form {
        @extend .form-contactus;
    }
}
//form register
.form-register-email, #loginform-duhoc {
    @extend .form-single-even;
    input {
        &[type=submit] {
            width: auto;
        }
    }
    label.error {
        color: #f00;
        font-size: 1em;
        font-weight: normal;
        display: block;
    }
}
.form-register-email {
    .wrap-group {
        position: relative;
        display: inline-block;
        width: 100%;
        #checkbox-error {
            position: absolute;
            bottom: 0;
            left: 0;
        }
        label {
            &[for=checkbox] {
                width: calc(100% - 20px);
                float: left;
                margin: 10px 0 0;
            }
        }
        input {
            &[type=checkbox] {
                display: inline-block;
                margin: 15px 5px 55px 0;
                float: left;
            }
        }
    }
}
//form account
.form-submit-account {
    @extend .form-contactus;

    .checkbox-group {
        .checkbox-item {
            position: relative;
            margin-bottom: -15px;
            label {
                position: relative;
                top: -25px;
                left: 0;
                width: 100%;
                &:after {
                    opacity: 0;
                    content: '';
                    position: absolute;
                    width: 13px;
                    height: 8px;
                    background: transparent;
                    top: 15px;
                    left: 10px;
                    border: 3px solid #333;
                    border-top: none;
                    border-right: none;
                    @include transform( rotate(-45deg) );
                }
                span {
                    padding: 8px 30px;
                    border: 1px solid transparent;
                    display: block;
                    background: #ccc;
                    @include border-radius( 4px );
                }
            }
            input {
                &[type=checkbox] {
                    &:checked {
                        + label {
                            color: #009d4e;
                            &:after {
                                border: 3px solid #009d4e;
                                border-top: none;
                                border-right: none;
                                opacity: 1;
                            }
                            span {
                                border: 1px solid #009d4e;
                                background: #fff;
                            }
                        }
                    }
                }
                &[type=radio] {
                    margin-left: 2px;
                    &:checked {
                        + label {
                            color: #009d4e;
                            &:after {
                                border: 3px solid #009d4e;
                                border-top: none;
                                border-right: none;
                                opacity: 1;
                            }
                            span {
                                border: 1px solid #009d4e;
                                background: #fff;
                            }
                        }
                    }
                }
            }
        }
    }
    span {
        margin: 0;
    }
}
