//pagenavi listing
.pagination {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-bottom: 30px;
    background: $grey-regular;
    @include border-radius( 20px );
    ul {
		@extend list-type-ulli;
	    float: right;
	    li {
		    float: left;
		    &:last-child{
		    	padding-right: 0px;
		    }
		    a, span {
			    padding: 5px 15px;
			    color: #000;
			    font-size: 14px;
			    display: inline-block;
			}
			.current {
    			color: $grey-semibold;
    			font-weight: bold;
			}
		}
	}
}

//pagenavi page search
.page-navi {
    display: block;
    width: 100%;
    overflow: hidden;
    text-align: right;
    margin-bottom: 30px;
    background: $grey-regular;
    @include border-radius( 20px );
    .page-numbers {
	    color: #000;
	    padding: 5px 15px;
	    display: inline-block;
	}
	.current {
	    font-weight: bold;
	    color: $grey-semibold;
	}
}