a:hover, a:focus, a:active { text-decoration: none; outline: none; @include transition(all 300ms ease 0s); }
input, select, textarea { outline: none; @include appearance( unset ); }
input:focus, select:focus, textarea:focus { outline: none; @include box-shadow-input(none); }
input[type=checkbox] { @include appearance( checkbox ); }
input[type=radio] { @include appearance( radio ); }
img { max-width: 100%; height: auto; }
figure { margin: 0; }
p { margin-bottom: 5px; }
h1, h2, h3, h4, h5, h6 { line-height: 1.4; margin: 0; padding: 0; font-weight: normal; }
form br { display: none; }
.form-control:focus { box-shadow: none; }
.widget p { margin: 0; }
.msc-listing { width: 100%; }
// .main { display: inline-block; width: 100%; margin-bottom: -4px;}
.fix-container { width: 900px; margin: auto; }
.fw { float: left; width: 100%; }
.stick{ position: fixed; z-index: 999; background: rgba(225,225,225,0.8); }
.clear { clear: both; }
.clear5 { clear: both; height: 5px; }
.clear10 { clear: both; height: 10px; }
.clear15 { clear: both; height: 15px; }
.clear20 { clear: both; height: 20px; }
.clear30 { clear: both; height: 30px; }

body {
	font-size: 14px;
    line-height: 1.4;
    color: $grey-bold;
}

.wrap {
    overflow: hidden;
}

.title-section h2 {
    font-weight: 500;
    font-size:  24px;
    color: $grey-bold;
    margin: 15px 0;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 2;    
}
.title-article h3 {
    font-weight:  bold;
    font-size:  20px;
    color: $grey-bold;
    margin: 15px 0;
    display: inline-block;
    width: 100%;
    position: relative;
    z-index: 2;
}
.home {
    .title-section h2 {
        text-transform: uppercase;
        font-weight:  bold;
    }
}
.item {
    margin-bottom: 30px;
}
.read-more-section {
    color: #4a5eb3;
    text-align: right;
    display: block;
    margin-top: -20px;
    margin-bottom: 30px;
    position: relative;
    z-index: 1;    
}

//page
.page-title h1 {
    font-size: 24px;
    margin: 20px 0;
    color: $red-bold;
    font-weight: 600;
    display: inline-block;
    width: 100%;
}
.page-desc {
    font-size: 16px;
    // margin-bottom: 20px;
}
.page-content {
    // margin-bottom: 30px;
    text-align: justify;
}
.content-page {
    background: #fff;
    padding-bottom: 30px;
}

//banner trang trong
.banner-page {
    img {
        width: 100%;
    }
}

